﻿@page "/profiles/employees"

@using Portal.Models
@using Portal.Interfaces

@inject IEmployeeAvailLeaveService EmployeeAvailLeaveService
@inject IEmployeeLoanService EmployeeLoanService

<GenPage Name="@person">
    <ChildContent>
        <MasterFormMenu OnClickCallback="@PerformAction" />

        <RadzenPanel>
            @*<div class="row">
            <div class="col-12">*@
            <ChildContent>
                <RadzenTabs>
                    <Tabs>
                        <RadzenTabsItem Text="Profile">
                            <div class="row">
                                <div class="col-3">
                                    <RadzenImage Path="profile.png" Style="width: 100%;" />
                                </div>
                                <div class="col-9">
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-3 align-content-start">
                                            <RadzenLabel Text="Employee ID" />
                                        </div>
                                        <div class="col-7 align-content-start">
                                            <RadzenTextBox Style="width: 100%;" Name="EmployeeID" />
                                        </div>
                                    </div>
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-3 align-content-start">
                                            <RadzenLabel Text="First Name" />
                                        </div>
                                        <div class="col-7 align-content-start">
                                            <RadzenTextBox Style="width: 100%;" Name="FirstName" />
                                        </div>
                                    </div>
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-3 align-content-start">
                                            <RadzenLabel Text="Middle Name" />
                                        </div>
                                        <div class="col-7 align-content-start">
                                            <RadzenTextBox Style="width: 100%;" Name="MiddleName" />
                                        </div>
                                    </div>
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-3 align-content-start">
                                            <RadzenLabel Text="Last Name" />
                                        </div>
                                        <div class="col-7 align-content-start">
                                            <RadzenTextBox Style="width: 100%;" Name="LastName" />
                                        </div>
                                    </div>
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-3 align-content-start">
                                            <RadzenLabel Text="Job Title" />
                                        </div>
                                        <div class="col-7 align-content-start">
                                            <RadzenTextBox Style="width: 100%;" Name="JobTitle" />
                                        </div>
                                    </div>
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-3 align-content-start">
                                            <RadzenLabel Text="Department" />
                                        </div>
                                        <div class="col-7 align-content-start">
                                            <RadzenTextBox Style="width: 100%;" Name="Department" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </RadzenTabsItem>

                        <RadzenTabsItem Text="Information">
                            <div class="row">
                                <div class="col-6">
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-5 align-content-start">
                                            <RadzenLabel Text="Gender" />
                                        </div>
                                        <div class="col-7 align-content-start">
                                            <RadzenTextBox Style="width: 100%;" Name="Gender" />
                                        </div>
                                    </div>
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-5 align-content-start">
                                            <RadzenLabel Text="Marital Status" />
                                        </div>
                                        <div class="col-7 align-content-start">
                                            <RadzenTextBox Style="width: 100%;" Name="MaritalStatus" />
                                        </div>
                                    </div>
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-5 align-content-start">
                                            <RadzenLabel Text="Present Address" />
                                        </div>
                                        <div class="col-7 align-content-start">
                                            <RadzenTextBox Style="width: 100%;" Name="PresentAddress" />
                                        </div>
                                    </div>
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-5 align-content-start">
                                            <RadzenLabel Text="Permanent Address" />
                                        </div>
                                        <div class="col-7 align-content-start">
                                            <RadzenTextBox Style="width: 100%;" Name="PermanentAddress" />
                                        </div>
                                    </div>
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-5 align-content-start">
                                            <RadzenLabel Text="Date of Birth" />
                                        </div>
                                        <div class="col-7 align-content-start">
                                            <RadzenTextBox Style="width: 100%;" Name="DateOfBirth" />
                                        </div>
                                    </div>
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-5 align-content-start">
                                            <RadzenLabel Text="Citizenship" />
                                        </div>
                                        <div class="col-7 align-content-start">
                                            <RadzenTextBox Style="width: 100%;" Name="Citizenship" />
                                        </div>
                                    </div>
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-5 align-content-start">
                                            <RadzenLabel Text="Contact No." />
                                        </div>
                                        <div class="col-7 align-content-start">
                                            <RadzenTextBox Style="width: 100%;" Name="ContactNo" />
                                        </div>
                                    </div>
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-5 align-content-start">
                                            <RadzenLabel Text="Email" />
                                        </div>
                                        <div class="col-7 align-content-start">
                                            <RadzenTextBox Style="width: 100%;" Name="Email" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </RadzenTabsItem>

                        <RadzenTabsItem Text="Administration">
                            <div class="row">
                                <div class="col-6">
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-5 align-content-start">
                                            <RadzenLabel Text="Date Hired" />
                                        </div>
                                        <div class="col-7 align-content-start">
                                            <RadzenTextBox Style="width: 100%;" Name="DateHired" />
                                        </div>
                                    </div>
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-5 align-content-start">
                                            <RadzenLabel Text="Employment Status" />
                                        </div>
                                        <div class="col-7 align-content-start">
                                            <RadzenTextBox Style="width: 100%;" Name="EmploymentStatus" />
                                        </div>
                                    </div>
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-5 align-content-start">
                                            <RadzenLabel Text="Termination Date" />
                                        </div>
                                        <div class="col-7 align-content-start">
                                            <RadzenTextBox Style="width: 100%;" Name="TerminationDate" />
                                        </div>
                                    </div>
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-5 align-content-start">
                                            <RadzenLabel Text="Basic Salary" />
                                        </div>
                                        <div class="col-7 align-content-start">
                                            <RadzenTextBox Style="width: 100%;" Name="BasicSalary" />
                                        </div>
                                    </div>
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-5 align-content-start">
                                            <RadzenLabel Text="Tax Status" />
                                        </div>
                                        <div class="col-7 align-content-start">
                                            <RadzenTextBox Style="width: 100%;" Name="TaxStatus" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-5 align-content-start">
                                            <RadzenLabel Text="SSS No." />
                                        </div>
                                        <div class="col-7 align-content-start">
                                            <RadzenTextBox Style="width: 100%;" Name="SSSNo" />
                                        </div>
                                    </div>
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-5 align-content-start">
                                            <RadzenLabel Text="TIN No." />
                                        </div>
                                        <div class="col-7 align-content-start">
                                            <RadzenTextBox Style="width: 100%;" Name="TINNo" />
                                        </div>
                                    </div>
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-5 align-content-start">
                                            <RadzenLabel Text="PhilHealth No." />
                                        </div>
                                        <div class="col-7 align-content-start">
                                            <RadzenTextBox Style="width: 100%;" Name="PhilHealthNo" />
                                        </div>
                                    </div>
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-5 align-content-start">
                                            <RadzenLabel Text="HDMF No." />
                                        </div>
                                        <div class="col-7 align-content-start">
                                            <RadzenTextBox Style="width: 100%;" Name="HDMFNo" />
                                        </div>
                                    </div>
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-5 align-content-start">
                                            <RadzenLabel Text="HMO Account No." />
                                        </div>
                                        <div class="col-7 align-content-start">
                                            <RadzenTextBox Style="width: 100%;" Name="HMOAccountNo" />
                                        </div>
                                    </div>
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-5 align-content-start">
                                            <RadzenLabel Text="Bank Account No." />
                                        </div>
                                        <div class="col-7 align-content-start">
                                            <RadzenTextBox Style="width: 100%;" Name="BankAccountNo" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 align-content-center">
                                    <RadzenPanel AllowCollapse="true">
                                        <HeaderTemplate>
                                            <h3>Nature of Leaves</h3>
                                        </HeaderTemplate>
                                        <ChildContent>
                                            <RadzenGrid PageSize="10" AllowPaging="true" Data="@empLeaves" TItem="EmployeeAvailLeave" AllowColumnResize="true">
                                                <Columns>
                                                    <RadzenGridColumn Width="70px" TItem="EmployeeAvailLeave" Property="Selected" Title="Selected">
                                                        <Template Context="data">
                                                            <RadzenCheckBox TValue="bool" @bind-Value="@data.Selected" />
                                                        </Template>
                                                    </RadzenGridColumn>
                                                    <RadzenGridColumn TItem="EmployeeAvailLeave" Property="LeaveID" Title="Leave Type" />
                                                    <RadzenGridColumn TItem="EmployeeAvailLeave" Property="Qty" Title="Qty" />
                                                </Columns>
                                            </RadzenGrid>
                                        </ChildContent>
                                    </RadzenPanel>
                                </div>
                            </div>
                        </RadzenTabsItem>

                        <RadzenTabsItem Text="Accounting">
                            <div class="row">
                                <div class="col-6">
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-5 align-content-start">
                                            <RadzenLabel Text="SSS Premium" />
                                        </div>
                                        <div class="col-7 align-content-start">
                                            <RadzenTextBox Style="width: 100%;" Name="SSSPremium" />
                                        </div>
                                    </div>
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-5 align-content-start">
                                            <RadzenLabel Text="PhilHealth Premium" />
                                        </div>
                                        <div class="col-7 align-content-start">
                                            <RadzenTextBox Style="width: 100%;" Name="PhilHealthPremium" />
                                        </div>
                                    </div>
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-5 align-content-start">
                                            <RadzenLabel Text="HDMF Premium" />
                                        </div>
                                        <div class="col-7 align-content-start">
                                            <RadzenTextBox Style="width: 100%;" Name="HDMFPremium" />
                                        </div>
                                    </div>
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-5 align-content-start">
                                            <RadzenLabel Text="Tax Withheld" />
                                        </div>
                                        <div class="col-7 align-content-start">
                                            <RadzenTextBox Style="width: 100%;" Name="TaxWithheld" />
                                        </div>
                                    </div>
                                    <div class="row pb-2 align-items-center">
                                        <div class="col-5 align-content-start">
                                            <RadzenLabel Text="Allowances" />
                                        </div>
                                        <div class="col-7 align-content-start">
                                            <RadzenTextBox Style="width: 100%;" Name="Allowances" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 align-content-center">
                                    <RadzenPanel AllowCollapse="true">
                                        <HeaderTemplate>
                                            <h3>Employee Loans</h3>
                                        </HeaderTemplate>
                                        <ChildContent>
                                            <RadzenGrid PageSize="10" AllowPaging="true" Data="@empLoans" TItem="EmployeeLoan" AllowColumnResize="true">
                                                <Columns>
                                                    <RadzenGridColumn Width="70px" TItem="EmployeeLoan" Property="Selected" Title="Selected">
                                                        <Template Context="data">
                                                            <RadzenCheckBox TValue="bool" @bind-Value="@data.Selected" />
                                                        </Template>
                                                    </RadzenGridColumn>
                                                    <RadzenGridColumn Width="70px" TItem="EmployeeLoan" Property="LoanID" Title="Loan Type">
                                                        <Template Context="data">
                                                            <RadzenLabel Text="@data.LoanID.ToString()" />
                                                        </Template>
                                                    </RadzenGridColumn>
                                                    <RadzenGridColumn TItem="EmployeeLoan" Property="LoanDate" Title="Loan Date">
                                                        <Template Context="data">
                                                            <RadzenDatePicker @bind-Value="@data.LoanDate" DateFormat="MM/dd/yyyy" />
                                                        </Template>
                                                    </RadzenGridColumn>
                                                    <RadzenGridColumn TItem="EmployeeLoan" Property="LoanPrincipalAmount" Title="Principal Amount" />
                                                    <RadzenGridColumn TItem="EmployeeLoan" Property="LoanPayableMonth" Title="Payable Month" />
                                                </Columns>
                                            </RadzenGrid>
                                        </ChildContent>
                                    </RadzenPanel>
                                </div>
                            </div>
                        </RadzenTabsItem>
                    </Tabs>
                </RadzenTabs>
            </ChildContent>
            @*</div>
            </div>*@
        </RadzenPanel>
    </ChildContent>
</GenPage>

@code {
    //private string screenName;

    //[Parameter]
    public string person = "Employees";
    //{
    //    get { return screenName; }
    //    set
    //    {
    //        if (value == "employees") screenName = "Employees";
    //        else screenName = "Customers";
    //    }
    //}

    IEnumerable<EmployeeAvailLeave> empLeaves;
    IEnumerable<EmployeeLoan> empLoans;

    protected override async Task OnInitializedAsync()
    {
        empLeaves = await EmployeeAvailLeaveService.GetEmployeeLeavesByEmpIDAsync(1);
        empLoans = await EmployeeLoanService.GetEmployeeLoansByEmpIDAsync(1);
    }

    private string msg;
    protected void PerformAction(MenuItemEventArgs e)
    {
        switch (e.Text)
        {
            case "Previous":
                msg = "Click Previous";
                break;

            case "Next":
                msg = "Click Next";
                break;

            case "New":
                msg = "Click New";
                break;

            case "Save":
                msg = "Click Save";
                break;

            case "Delete":
                msg = "Click Delete";
                break;

            case "Copy":
                msg = "Click Copy";
                break;

            case "Paste":
                msg = "Click Paste";
                break;

            default:
                //do nothing
                break;
        }
    }
}
