﻿@page "/expense-claims/{claimId}"

@using Portal.Models
@using Portal.Interfaces

@inject IEmployeeExpenseClaimService EmployeeExpenseClaimService

<GenPage Name="@claimId">
    <ChildContent>
        <MasterFormMenu OnClickCallback="@PerformAction" />

        <RadzenPanel>
            <ChildContent>
                <div class="row">
                    <div class="col-6">
                        <div class="row pb-2 align-items-center">
                            <div class="col-4 align-content-start">
                                <RadzenLabel Text="Expense Claim No." />
                            </div>
                            <div class="col-7 align-content-start">
                                <RadzenTextBox Style="width: 100%;" Name="ExpenseClaimID" />
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center">
                            <div class="col-4 align-content-start">
                                <RadzenLabel Text="Expense Claim Date" />
                            </div>
                            <div class="col-7 align-content-start">
                                <RadzenTextBox Style="width: 100%;" Name="ExpenseClaimDate" />
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center">
                            <div class="col-4 align-content-start">
                                <RadzenLabel Text="Owner" />
                            </div>
                            <div class="col-7 align-content-start">
                                <RadzenTextBox Style="width: 100%;" Name="ClaimOwnerID" />
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center">
                            <div class="col-4 align-content-start">
                                <RadzenLabel Text="Description" />
                            </div>
                            <div class="col align-content-start">
                                <RadzenTextBox Style="width: 100%;" Name="Description" />
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="row pb-2 align-items-center">
                            <div class="col-4 align-content-start">
                                <RadzenLabel Text="Request Date" />
                            </div>
                            <div class="col-7 align-content-start">
                                <RadzenTextBox Style="width: 100%;" Name="RequestDate" />
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center">
                            <div class="col-4 align-content-start">
                                <RadzenLabel Text="Status" />
                            </div>
                            <div class="col-7 align-content-start">
                                <RadzenTextBox Style="width: 100%;" Name="Status" />
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center">
                            <div class="col-4 align-content-start">
                                <RadzenLabel Text="Amount" />
                            </div>
                            <div class="col-7 align-content-start">
                                <RadzenTextBox Style="width: 100%;" Name="Amount" />
                            </div>
                        </div>
                    </div>
                </div>
            </ChildContent>
        </RadzenPanel>
    </ChildContent>
</GenPage>

@code {
    [Parameter]
    public string claimId { get; set; }

    private string msg;
    protected void PerformAction(MenuItemEventArgs e)
    {
        switch (e.Text)
        {
            case "Previous":
                msg = "Click Previous";
                break;

            case "Next":
                msg = "Click Next";
                break;

            case "New":
                msg = "Click New";
                break;

            case "Save":
                msg = "Click Save";
                break;

            case "Delete":
                msg = "Click Delete";
                break;

            case "Copy":
                msg = "Click Copy";
                break;

            case "Paste":
                msg = "Click Paste";
                break;

            default:
                //do nothing
                break;
        }
    }
}
