﻿@page "/expense-claims"

@using Portal.Models
@using Portal.Interfaces

@inject IEmployeeExpenseClaimService EmployeeExpenseClaimService

<GenPage Name="Expense Claims">
    <ChildContent>
        <MasterGridMenu OnClickCallback="@PerformAction">

        </MasterGridMenu>

        <RadzenPanel>
            <ChildContent>
                <div class="row">
                    <div class="col-6">
                        <div class="row pb-2 align-items-center">
                            <div class="col-5 align-content-start">
                                <RadzenLabel Text="Request Date" />
                            </div>
                            <div class="col-7 align-content-start">
                                <RadzenTextBox Style="width: 100%;" Name="Request Date" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 pb-3">
                        <div class="row pb-2 align-items-center">
                            <div class="col-5 align-content-start">
                                <RadzenLabel Text="Employee ID" />
                            </div>
                            <div class="col-7 align-content-start">
                                <RadzenTextBox Style="width: 100%;" Name="Employee ID" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <RadzenGrid PageSize="10" AllowPaging="true" Data="@empExpenseClaims" TItem="EmployeeExpenseClaim" AllowColumnResize="true">
                            <Columns>
                                @*<RadzenGridColumn Width="70px" TItem="EmployeeTimekeep" Property="Selected" Title="Selected">
                                    <Template Context="data">
                                        <RadzenCheckBox TValue="bool" @bind-Value="@data.Selected" />
                                    </Template>
                                </RadzenGridColumn>*@
                                <RadzenGridColumn TItem="EmployeeExpenseClaim" Property="ExpenseClaimID" Title="Claim No." />
                                <RadzenGridColumn TItem="EmployeeExpenseClaim" Property="RequestDate" Title="Request Date">

                                </RadzenGridColumn>
                                <RadzenGridColumn TItem="EmployeeExpenseClaim" Property="ClaimOwnerID" Title="Requester ID">

                                </RadzenGridColumn>
                                @*<RadzenGridColumn TItem="EmployeeExpenseClaim" Property="ClaimOwnerID" Title="Requester Name" />*@
                                <RadzenGridColumn TItem="EmployeeExpenseClaim" Property="ExpenseClaimDate" Title="Expense Claim Date" />
                                <RadzenGridColumn TItem="EmployeeExpenseClaim" Property="Amount" Title="Amount" />
                                <RadzenGridColumn TItem="EmployeeExpenseClaim" Property="Status" Title="Status" />
                                <RadzenGridColumn TItem="EmployeeExpenseClaim" Property="Description" Title="Description" />
                            </Columns>
                        </RadzenGrid>
                    </div>
                </div>
            </ChildContent>
        </RadzenPanel>
    </ChildContent>
</GenPage>

@code {
    IEnumerable<EmployeeExpenseClaim> empExpenseClaims;

    protected override async Task OnInitializedAsync()
    {
        empExpenseClaims = await EmployeeExpenseClaimService.GetEmployeeExpenseClaimsAsync();
    }

    private string msg;
    protected void PerformAction(MenuItemEventArgs e)
    {
        switch (e.Text)
        {
            case "New":
                msg = "Click New";
                break;

            case "Save":
                msg = "Click Save";
                break;

            case "Delete":
                msg = "Click Delete";
                break;

            case "Import":
                msg = "Click Import";
                break;

            case "Export":
                msg = "Click Export";
                break;

            default:
                //do nothing
                break;
        }
    }
}
