﻿@page "/"

@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Components.Authorization
@inject UserManager<IdentityUser> _UserManager
@inject RoleManager<IdentityRole> _RoleManager

@*@if (CurrentUser.IsInRole(ADMINISTRATOR_ROLE))
{
    <p>You are an Administrator named: <b>@CurrentUser.Identity.Name</b></p>
}*@

<GenPage />

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    ClaimsPrincipal CurrentUser = new ClaimsPrincipal();

    string ADMINISTRATOR_ROLE = "Administrator";

    protected override async Task OnInitializedAsync()
    {
        //Check if admin role exists
        var RoleResult = await _RoleManager.FindByNameAsync(ADMINISTRATOR_ROLE);
        if (RoleResult == null)
        {
            //Create admin role
            await _RoleManager.CreateAsync(new IdentityRole(ADMINISTRATOR_ROLE));
        }

        //Get the admin account
        var user = await _UserManager.FindByNameAsync("admin@admin.com");

        //Admin not yet created
        if (user != null)
        {
            //Check if admin account has admin role
            var UserResult = await _UserManager.IsInRoleAsync(user, ADMINISTRATOR_ROLE);

            if (!UserResult)
            {
                //Add admin account to admin role
                await _UserManager.AddToRoleAsync(user, ADMINISTRATOR_ROLE);
            }
        }

        //Get current user
        CurrentUser = (await authenticationStateTask).User;
    }

    //Start Here
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Name { get; set; } = "Page Title";

    [Parameter]
    public bool Heading { get; set; } = true;
}