﻿@page "/payroll"

@using Portal.Models
@using Portal.Interfaces

@inject IEmployeePayrollService EmployeePayrollService

<GenPage Name="Payroll">
    <ChildContent>
        <MasterGridMenu OnClickCallback="@PerformAction">
            <RadzenMenuItem Text="Actions" Icon="assignment">
                <RadzenMenuItem Text="Generate" Icon="file_copy"></RadzenMenuItem>
                <RadzenMenuItem Text="Submit" Icon="assignment_turned_in"></RadzenMenuItem>
            </RadzenMenuItem>
        </MasterGridMenu>

        <RadzenPanel>
            <ChildContent>
                <div class="row">
                    <div class="col-12">
                        <RadzenGrid PageSize="10" AllowPaging="true" Data="@empPayrolls" TItem="EmployeePayroll" AllowColumnResize="true">
                            <Columns>
                                <RadzenGridColumn Width="70px" TItem="EmployeePayroll" Property="Selected" Title="Selected">
                                    <Template Context="data">
                                        <RadzenCheckBox TValue="bool" @bind-Value="@data.Selected" />
                                    </Template>
                                </RadzenGridColumn>
                                <RadzenGridColumn TItem="EmployeePayroll" Property="PayrollID" Title="Payroll ID" />
                                <RadzenGridColumn TItem="EmployeePayroll" Property="EmployeeID" Title="Employee ID" />
                                @*<RadzenGridColumn TItem="EmployeePayroll" Property="EmployeeName" Title="Employee Name" />*@
                                <RadzenGridColumn TItem="EmployeePayroll" Property="PayrollCutoffDate" Title="Cutoff Date">

                                </RadzenGridColumn>
                                <RadzenGridColumn TItem="EmployeePayroll" Property="Status" Title="Status" />
                            </Columns>
                        </RadzenGrid>
                    </div>
                </div>
            </ChildContent>
        </RadzenPanel>
    </ChildContent>
</GenPage>

@code {
    IEnumerable<EmployeePayroll> empPayrolls;

    protected override async Task OnInitializedAsync()
    {
        empPayrolls = await EmployeePayrollService.GetEmployeePayrollsAsync();
    }

    private string msg;
    protected void PerformAction(MenuItemEventArgs e)
    {
        switch (e.Text)
        {
            case "New":
                msg = "Click New";
                break;

            case "Save":
                msg = "Click Save";
                break;

            case "Delete":
                msg = "Click Delete";
                break;

            case "Import":
                msg = "Click Import";
                break;

            case "Export":
                msg = "Click Export";
                break;

            default:
                //do nothing
                break;
        }
    }
}
