﻿@page "/timekeeping"

@using Portal.Models
@using Portal.Interfaces

@inject IEmployeeTimekeepService EmployeeTimekeepService

<GenPage Name="Timekeeping">
    <ChildContent>
        <MasterGridMenu OnClickCallback="@PerformAction" />

        <RadzenPanel>
            <ChildContent>
                <div class="row">
                    <div class="col-6 pb-3">
                        <div class="row pb-2 align-items-center">
                            <div class="col-5 align-content-start">
                                <RadzenLabel Text="Keyword" />
                            </div>
                            <div class="col-7 align-content-start">
                                <RadzenTextBox Style="width: 100%;" Name="Keyword" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <RadzenGrid PageSize="10" AllowPaging="true" Data="@empTimekeeps" TItem="EmployeeTimekeep" AllowColumnResize="true">
                            <Columns>
                                <RadzenGridColumn Width="70px" TItem="EmployeeTimekeep" Property="Selected" Title="Selected">
                                    <Template Context="data">
                                        <RadzenCheckBox TValue="bool" @bind-Value="@data.Selected" />
                                    </Template>
                                </RadzenGridColumn>
                                <RadzenGridColumn TItem="EmployeeTimekeep" Property="EmployeeID" Title="Employee ID" />
                                <RadzenGridColumn TItem="EmployeeTimekeep" Property="DateTimeIn" Title="In">

                                </RadzenGridColumn>
                                <RadzenGridColumn TItem="EmployeeTimekeep" Property="DateTimeOut" Title="Out">

                                </RadzenGridColumn>
                                <RadzenGridColumn TItem="EmployeeTimekeep" Property="RegularHours" Title="Regular" />
                                <RadzenGridColumn TItem="EmployeeTimekeep" Property="OvertimeHours" Title="Overtime" />
                                <RadzenGridColumn TItem="EmployeeTimekeep" Property="LeaveHours" Title="Leave" />
                                <RadzenGridColumn TItem="EmployeeTimekeep" Property="TotalHours" Title="Total" />
                            </Columns>
                        </RadzenGrid>
                    </div>
                </div>
            </ChildContent>
        </RadzenPanel>
    </ChildContent>
</GenPage>

@code {
    IEnumerable<EmployeeTimekeep> empTimekeeps;

    protected override async Task OnInitializedAsync()
    {
        empTimekeeps = await EmployeeTimekeepService.GetEmployeeTimekeepsAsync();
    }

    private string msg;
    protected void PerformAction(MenuItemEventArgs e)
    {
        switch(e.Text)
        {
            case "New":
                msg = "Click New";
                break;

            case "Save":
                msg = "Click Save";
                break;

            case "Delete":
                msg = "Click Delete";
                break;

            case "Import":
                msg = "Click Import";
                break;

            case "Export":
                msg = "Click Export";
                break;

            default:
                //do nothing
                break;
        }
    }
}
