﻿@inherits LayoutComponentBase

@using Portal.Models
@using Portal.Services 

@*@inject NavigationManager UriHelper
@inject IJSRuntime JSRuntime*@
@inject SidebarOptionService SidebarOptionService

<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenHeader>
    <ChildContent>
        <div class="row justify-content-start align-items-center">
            <AuthorizeView>
                <Authorized>
                    <div class="col-6 d-flex align-items-center">
                        <RadzenSidebarToggle Click="@(args => { sidebarExpanded = !sidebarExpanded; bodyExpanded = !bodyExpanded; })">
                        </RadzenSidebarToggle>
                        <RadzenLabel Text="Radzen Blazor Components">
                        </RadzenLabel>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="col-6 d-flex align-items-center">
                        <RadzenLabel Text="Radzen Blazor Components">
                        </RadzenLabel>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
            <div class="col-6 d-flex align-items-center justify-content-end">
                <div class="d-none d-md-inline-flex align-items-center">
                    <LoginDisplay />
                </div>
            </div>
        </div>
    </ChildContent>
</RadzenHeader>
<div style="width:100%;">
    <AuthorizeView>
        <Authorized>
            <RadzenBody @ref="@body0" @bind-Expanded="@bodyExpanded">
                <ChildContent>
                    <RadzenContentContainer Name="main">
                        @Body
                    </RadzenContentContainer>
                </ChildContent>
            </RadzenBody>
        </Authorized>
        <NotAuthorized>
            <RadzenBody Expanded="true">
                <ChildContent>
                    <RadzenContentContainer Name="main">
                        Please Login to your Account first.
                    </RadzenContentContainer>
                </ChildContent>
            </RadzenBody>
        </NotAuthorized>
    </AuthorizeView>
</div>
<AuthorizeView>
    <Authorized>
        <RadzenSidebar @ref="@sidebar0" @bind-Expanded="@sidebarExpanded" Style="top: 51px; width: 250px;">
            <ChildContent>
                <div style="padding: 1rem; background-color: ghostwhite;">
                    @*<input placeholder="Find component ..." class="rz-textbox" type="search" @oninput="@FilterPanelMenu" style="width: 100%" />*@
                    <input placeholder="Find component ..." class="rz-textbox" type="search" style="width: 100%" />
                </div>
                <RadzenPanelMenu>
                    @foreach (var category in sidebars)
                    {
                        <RadzenPanelMenuItem @bind-Expanded="@category.Expanded" Text="@category.Name" Path="@category.Path" Icon="@category.Icon">
                            @if (category.Children != null)
                            {
                                @foreach (var example in category.Children)
                                {
                                    <RadzenPanelMenuItem Text="@example.Name" Path="@example.Path" Icon="@example.Icon" />
                                }
                            }
                        </RadzenPanelMenuItem>
                    }
                </RadzenPanelMenu>
                <div class="fixed-bottom" style="padding: 1rem; background-color: ghostwhite;">
                    <RadzenLabel Text="Copyright &copy; 2020">
                    </RadzenLabel>
                </div>
            </ChildContent>
        </RadzenSidebar>
    </Authorized>
    <NotAuthorized>
        <RadzenSidebar Expanded="false" Style="top: 51px; width: 250px;">
        </RadzenSidebar>
    </NotAuthorized>
</AuthorizeView>

@code {
    //private bool collapseNavMenu = false;

    //private string NavMenuCssClass => collapseNavMenu ? "no-sidebar" : "sidebar";

    //private void ToggleNavMenu()
    //{
    //    collapseNavMenu = !collapseNavMenu;
    //}

    RadzenSidebar sidebar0;
    RadzenBody body0;
    bool sidebarExpanded = true;
    bool bodyExpanded = false;

    IEnumerable<SidebarOption> sidebars;

    protected override void OnInitialized()
    {
        sidebarExpanded = true;
        bodyExpanded = false;

        sidebars = SidebarOptionService.Options;
    }



}
