﻿<RadzenCard Style="height: 100%; padding: 0px; margin-bottom: 15px; z-index: 1;">
    <RadzenMenu Click="OnClickCallback">
        <RadzenMenuItem Text="New" Icon="add"></RadzenMenuItem>
        <RadzenMenuItem Text="Save" Icon="save"></RadzenMenuItem>
        <RadzenMenuItem Text="Delete" Icon="delete"></RadzenMenuItem>
        <RadzenMenuItem Text="Data" Icon="assignment">
            <RadzenMenuItem Text="Import" Icon="file_copy"></RadzenMenuItem>
            <RadzenMenuItem Text="Export" Icon="assignment_turned_in"></RadzenMenuItem>
        </RadzenMenuItem>
        @ChildContent
    </RadzenMenu>
</RadzenCard>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback<MenuItemEventArgs> OnClickCallback { get; set; }
}
